.divGrow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: -1%;
  margin-right: -1%;align-items: stretch;
}
.divCol {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.divCol > .col5, .divGrow > .col5 {width: 18%; margin: 15px 1%;}
.divCol > .col4, .divGrow > .col4 {width: 23%; margin: 15px 1%}
.divCol > .col3, .divGrow > .col3 {width: 31.33%;margin: 15px 1%;}
.divCol > .col2, .divGrow > .col2 { width: 48%; margin: 15px 1%; }
.divGrow > .col1 { width: 98%; margin: 15px 2%; }
.divCol4int > .col4 {
  width: 23%;
  margin: 0px 1%;
}

@media screen and (max-width: 1024px) { 
.divCol5 >.col5, .divGrow > .col5 { width: 23%;}
}


@media screen and (max-width: 900px) { 
.divCol > .col3, .divGrow > .col3 { width: 48%;}
.divCol > .col4, .divGrow > .col4 { width: 48%;}
.divCol > .col5, .divGrow > .col5 { width: 48%;}

}
@media screen and (max-width:700px) {
.divCol > .col2, .divGrow > .col2 { width: 98%;}
.divCol > .col3, .divGrow > .col3 { width: 98%; }
.divCol > .col4, .divGrow > .col4 { width: 98%; }
.divCol > .col5, .divGrow > .col5 { width: 98%; }

}

@media screen and (max-width: 500px) {
.divCol3 > .col3 input[type=checkbox] + label, .divCol3 > .col3 input[type=radio] + label {width: 100%;}	
.divCol2Input div{width: 100%;}
}


/*@media screen and (max-width: 1200px) { 
	.divCol4 > .col4, .divGrow > .col4, .divCol4 > .col41 { width: 31.33%;}
}
@media screen and (max-width: 900px) { 
.divCol3 > .col3, .divGrow > .col3, .divCol3 > .col31 { width: 48%;}
.divCol4 > .col4, .divGrow > .col4, .divCol4 > .col41 { width: 48%;}
.divCol4int > .col4 {width: 23%;margin: 0px 1%;}
.divCol4 > .col4.colBtn {width: 100% !important;}
.colBtn a {width: 300px;margin: auto;}
}*/

